@import './normalize.css';
/* :root ->获取根目录 
定义变量
	:root{
		--color-text: #666
		--tintColor:     设置背景颜色
	}
使用变量：
	color: var(--color-text)
*/

/* 媒体查询 */
@media screen and (min-width: 320px) {
	html {
		font-size: 21.33px;
	}
}
@media screen and (min-width: 750px) {
	html {
		font-size: 50px;
	}
}

body {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent; 
}

.clearfix:after{
	clear: both;
	content: '';
	display: block;
}

.fl{
	float: left;
}

.fr{
	float: right;
}

a{
	text-decoration: none;
	color: #c3c3c3;
}

img{
	vertical-align: middle;
}